.App {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.header {
  width: 100%;
  min-height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.502);
}
.headare_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo img {
  width: 250px;
}
.loggin {
  padding: 0 20px 0px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loggin > :last-child {
  margin: 5px 0 0 0;
}
.loggin > * {
  cursor: pointer;
  transition: all 2s ease 0s;
}
.loggin > *:hover {
  text-decoration: underline;
}
.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
}

.routing {
  flex: 0 1 17%;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.502);
  min-height: 100%;
}

.route_element .route_inner {
  padding: 15px 20px;
  color: rgba(0, 194, 203, 255);
  /* background-color: aqua; */
}
.route_element .active .route_inner {
  background-color: rgba(0, 0, 0, 0.422);
  color: whitesmoke;
}
.homepage {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.serach {
  min-height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.serach input {
  height: 100%;
  width: 90%;
}
.search_btn {
  width: 10%;
  background: gray;
}
.items {
  display: flex;
  flex-direction: column;
  background: rgb(229, 229, 229);
  height: 100%;
  width: 100%;
}
.item {
  margin: 10px 20px;
  padding: 10px 20px;
  background: white;
  flex: 0 1 98%;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

.item_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item_top_left {
  display: flex;
  flex-direction: row;
}
.item_img img {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.087);
  margin: 0 20px 0 0;
}
.detailed_info {
  display: flex;
  flex-direction: column;
}
.detailed_info .name {
  color: rgb(3, 94, 99);
  font-size: 16px;
}
.item_top_right {
  display: flex;
  flex: 0 1 20%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.item_top_right .price {
  font-size: 24px;
}

.add_btn {
  padding: 10px 15px;
  background-color: orange;
  border-radius: 5px;
}
/* logging */

.logingpage {
  position: absolute;
  width: 100%;
  height: 110%;
  background: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logging_box {
  transform: translate(0, -50%);
  width: 395px;
  height: 288px;
}
.logingpage_header {
  background: rgb(37, 150, 190);
  color: white;
  text-align: center;
  padding: 15px 16px;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  min-height: 100%;
  border-radius: 0 0 5px 5px;
  justify-content: space-around;
  overflow: hidden;
}
.labels {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;

  justify-content: space-between;
}
.labels > :not(:last-child) {
  margin: 0 0 10px 0;
}

.labels input {
  width: 90%;
  height: 32px;
}
.submission {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submission > *:hover {
  cursor: pointer;
  transform: translate(10px, 0);
}
.submit_btn {
  margin: 0 0 5px 0;
}
.news {
  display: flex;
  flex-direction: column;
  background: rgb(229, 229, 229);
  height: 90vh;
  width: 100%;
  overflow: scroll;
}
.one_news {
  display: flex;
  margin: 15px 20px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.087);
}
.news_info {
  margin: 0 0 0 20px;
}
.news_info > * {
  margin: 0 0 10px 0;
}
.news_img img {
  width: 400px;
}
.news_title {
  font-size: 32px;
}
.news_desc {
}
